@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    background-color: #eeebe5;
    }
    
    .container_hader{
      display: flex;
      padding-top: 17px;
      padding-left: 68px;
    }
    .Cannon_no{
      color: blueviolet;
      text-decoration: none;
      font-size: 17px;
      padding-top: 9px;
    }
   .prin a {
      background-color: #f0f0f0;
      padding: 12px 23px 10px 20px;
      border-radius: 4px;
      font-style: normal;
   }
   .taak a{
    padding: 0px 2px 0px 14px;
    font-style: normal;
   }
  .menu{
    padding-left: 568px;
    
  }
  .firu{
    margin-left: 22px;
    margin: 21px 25px;
  }
  .firu button{
    font-size: smaller;
    background-color: #5700FF;
    color: #eeebe5;
    border: none;
    border-radius: 8px;
    padding: 12px 16px 8px 18px
  }
  
  
  .firu img{
    padding-right: 2px;
    margin-bottom: 5px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 25px;
    float: right;
    padding-top: 26.5px;
    padding: 10px 20px;
    padding: 3px 1px;
   
  }
    
    nav a{
      color: black;
      font-size: 12px;
      text-decoration: none;
    }
  