@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

body{
    background-color: #EEEBE5;
}
.container_hader{
    display: flex;
    padding-top: 17px;
    padding-left: 68px;
  }
  .Cannon_no{
    color: blueviolet;
    text-decoration: none;
    font-size: 17px;
    padding-top: 9px;
  }

.prin a {
  background-color: #f0f0f0;
  padding: 12px 23px 10px 20px;
  border-radius: 4px;
  font-style: normal;
}
.taak a{
  padding: 0px 2px 0px 14px;
  font-style: normal;
 }
.container#press{
  display: flex;
    margin-left: 73px;
    padding: 0;
}
.menu{
  padding-left: 568px; 
}
.firu{
  margin-left: 22px;
  margin: 21px 25px;
}
.firu button{
  font-size: smaller;
  background-color: #5700FF;
  color: #eeebe5;
  border: none;
  border-radius: 8px;
  padding: 12px 16px 8px 16px;
}
.firu img{
  padding-right: 2px;
  margin-bottom: 5px;
}
.menu ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 25px;
  float: right;
  padding-top: 26.5px;
  padding: 10px 20px;
  padding: 3px 1px;
}  
nav a{
  color: black;
  font-size: 12px;
  text-decoration: none;
}
.bttns, .container{
    display: flex;
}
.container h3{
    margin-right: 620px;
}
.bttns h4 a{
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.bttns h4#main a{
    background-color: #f0f0f0;
    border-radius: 8%;
}
.bttns p{
    margin: 9px 0;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10%;
}
.pts{
    padding-left: 250px;
}
.pts, .pts div{
    display: flex;
    margin: 10px;
}
.pts img{
    max-width: 10px;
    margin-top: 10px;
}
.pt1{
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
    max-width: 1137px;
    margin-left: 72px
}
.pt1 img{
    max-width: 47px;
    padding-top: 60px;
}
.pt1 h2{
    padding-top: 29px;
    font-size: 34px;
    padding-right: 4px;
}
.pt1 p{
    font-size: 14px;
    padding-top: 2px;
    letter-spacing: 0.4px;
    padding-left: 4px;
}
.pt2{
    display: flex;
    padding-top: 2px;
    padding-left: 72px;
}
.tres p{
font-size: 14px;
}
.tres p b{
font-size:  15px ;
}
.arrow img  {
margin: 10px 0px 0px 25px;
}

.data{
    display: flex;
    margin: 17px 0px;
    background-color:#F7F6F3 ;
    max-width: 381px;
    padding-right: 155px;
    border-radius: 4px;
}
/* .name p{
    margin: 4px 0 0 0;
}

.arrow{
    margin: 10px 0 0 25px; */

.social{
    background-color: #F7F6F3;
    max-width: 169px;
    border-radius: 10%;
    padding-top: 7px;
}
.cont{
    margin-left: 23px;
    padding: 31px;
    background-color: #F7F6F3;
}
.s1, .s2 div{
    display: flex;
}
.s2{
    background-color: #F7F6F3;
    padding: 0px 0px 40px 35px;
    border: 1px solid #4D4D4D;
    border-radius: 2%;
    margin-left: 8px;
}

.s1 p{
    font-size: 16px;
}
.s1 div p{
    background-color: #F5F3F0;
    padding: 32px 219px 4px 4px;
    margin: 11px 0px 19px 10px;
    border-radius: 3%;
    border: 1px solid #4D4D4D;
    
}
.s2 div button, .s2 div p{
    margin: 11px 69px 0px 0px;
}
#move{
    margin-left: 48px;
}
.s2 h4{
    font-size: 15px;
    padding-top: 19px;
    padding-left: 2px;
}
.s2 button{
    background-color:#F5F3F0;
    width: 20px;
    height: 20px;
    border: #EBE7E0;
}

.s2 button p {
    padding-top: 10px;
}
.s3{
    background-color: #F7F6F3;
    margin-top: 15px;
    padding: 1px 0 75px 11px;
    border: 1px solid #4D4D4D;
}
.send{
    margin-top: 20px;
    text-align: center;
}
.send button{
    color: white;
    background-color: blueviolet;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
}
.social {
    display: flex;
}
.tit h4{
    font-size: 15px ;
}
.social img{
    max-width: 35px;
    margin-left: 16px;
}
.pt3 .title{
    margin-top: 137px;
    text-align: center;
}
.title h1{
    font-size: 34px;
    padding-top: 6px;
    padding-left: 16px;
}
.blocks{
    background-color: #f0f0f0;
    width: 58%;
    padding: 30px;
}
.block{
    width: 678px;
    background-color: #EEEBE5;
    display: flex;
    padding-left: 27px;
    padding-top: 28px;
    margin-bottom: 20px;
}
.form0{
    background-color: #EEEBE5;
    display: flex;
    margin-bottom: 20px;
}
.form1{
     background-color: #EEEBE5;
    display: flex;
    margin-bottom: 20px;
}
.func{
    padding: 0 20px 0 40px;
}
.control{
    display: flex;
    margin-bottom: 100px;
    margin-left: 69px;
    margin-top: 50px;;
}
.queue h3{
    margin: 0;
}
.form{
    display: flex;
    padding: 12px 0px 0px 17px;
}
.form img{
    margin-left: 85px;
}
.form img #mo{
    margin-left: 260px;
}
.form img #mov{
    margin-left: 180px;
}
.form img #movv{
    margin-left: 90px;
}
.block h3{
   font-size: 19px;
}
.quest{
    background-color: #f0f0f0;
    margin: 0 20px 162px 45px;
    padding: 20px;
    width: 330px;
    gap: 5px;
}
.queue p{
    font-size: 19px;
}
.footer{
    display: flex;
}
.footer h2{
    margin-right: 300px;
}
.footer h5{
    padding: 20px 10px;
    margin: 0;
}
.footer div{
    margin-top: 15px;
    margin-left: 300px;
}
.footer div i{
    padding: 10px;
    margin: 20px 10px;
}
.con{
    display: flex;
    margin-left: 30%;
}
.con i{
    margin: 20px 10px;
}
.cr h4{
    text-align: center;
    opacity: 30%;
    margin-top: 0
}
#Benefits{
    margin-top: 122px;
    text-align: center;
   }
   .titulo h1{
    font-size: 34px;
    padding-left: 15px;
   }
   .titulo h6{
    font-size: 13px;
    padding-left: 18px;
    letter-spacing: 0.3px;
    padding-top: 2px;
  }
  .contenedor_1{
    display: flex;
    gap: 17px;
    margin-top: 56px;
  }
  .cuadro_1{
    background-color: #F7F6F3;
    border-radius: 10px;
    padding: 40px 57px 56px 20px;
    margin-left: 71px;
  }
  
  .cuadro_1 h2{
    font-size: 17px;
    padding-right: 83px;
    letter-spacing: 0.4px;
  }
  .cuadro_1 h6{
    font-size: 14px;
    padding-top: 16px;
    padding-left: 17px;
    line-height: 20.5px;
    text-align: left;
  }
  .cuadro_2{
    background-color: #F7F6F3;
    border-radius: 10px;
    margin-right: 50px;
  }
  .cuadro_2 h2{
    font-size: 16px;
    padding-top: 40px;
    padding-right: 113px;
    letter-spacing: 0.6px;
  }
  .cuadro_2 h6{
    font-size: 14px;
    padding-top: 15px;
    line-height: 21.5px;
    text-align: left;
    padding-left: 44px;
    padding-right: 54px;
  }
  .contenedor_2{
    margin-top: 10px;
    display: flex;
    gap: 14px;
    margin-left: 69px;
    margin-right: 64px;
  }
  .user{
    background-color: #F7F6F3;
    padding-bottom: 24px;
    border-radius: 5px;
  }
  .user h2{
    font-size: 18px;
    padding-top: 38px;
    line-height: 27px;
    text-align: left;
    padding-left: 32px;
    padding-right: 17px;
  }
  .user h6{
    font-size: 14px;
    text-align: left;
    line-height: 21.5px;
    padding-left: 33px;
    padding-right: 35px;
    padding-top: 13px;
    letter-spacing: 0.2px;
  }
  