@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    background-color: #EEEBE5;
    border: 1px;
}
.container_hader{
    display: flex;
    padding-top: 17px;
    padding-left: 67px;
  }
  .Cannon_no{
    color: blueviolet;
    text-decoration: none;
    font-size: 17px;
    padding-top: 9px;

  }

.prin a {
  background-color: #F5F3F0;
  padding: 12px 23px 10px 20px;
  border-radius: 4px;
  font-style: normal;
}
.firu img {
    max-width: 20px ;
}

.taak a{
  padding: 0px 2px 0px 14px;
  font-style: normal;
 }

.container#press{
  display: flex;
    margin-left: 73px;
    padding: 0;
}
.menu{
  padding-left: 568px; 
}
.firu{
  margin-left: 22px;
  margin: 21px 25px;
}
.firu button{
  font-size: smaller;
  background-color: #5700FF;
  color: #eeebe5;
  border: none;
  border-radius: 8px;
  padding: 12px 16px 8px 16px;
}
.firu img{
  padding-right: 2px;
  margin-bottom: 5px;
}
.menu ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 25px;
  float: right;
  padding-top: 26.5px;
  padding: 10px 20px;
  padding: 3px 1px;
}  
nav a{
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.col-md-12#introduction{
    height: 323px;
    margin-top: 41px;
    background-color: #F7F6F3;
    border-radius: 10px;
    text-align: center;
    width: 1145px;
    margin-left: 8px;
}

.col-md-12#introduction img#title{
    width: 45px;
    margin-top: 52px;
    margin-left: 0px;
}

.col-md-12#introduction h2{
    margin-top: 31px;
    font-size: 35px;
    word-spacing: -1px;
}

#introduction p{
    font-size: 14px;
    color: #4D4D4D;
    margin-left: 4px;
    margin-top: 7px;
}

.apart{
    font-size: 15px;
}
.horizontal-row{
    display: flex;
    margin-top: 30px;
}

.imagen_1 {
    float: left;
    padding: 1px;
    max-width: 23px;
    margin-top: 8px;
    margin-left: 7px;
}

.texto1{
    overflow: auto;
}
.apart{
    display: flex;
    padding-left: 247px;
    margin-top: 24px;
    gap: 12px;
}
.apart p{
    text-align: left;

}
.uno .dos.ultimo p{
    color: #333333;
}
.uno{
    border: 1px solid #EBE7E0;
    border-radius: 5px;
    padding: 0px 11px 0px 12px;
    width: 233px;
}
.dos{

    border: 1px solid #EBE7E0;
    border-radius: 5px;
    width: 163px;
}
.ultimo{

    border: 1px solid #EBE7E0;
    border-radius: 5px;
    width: 200px;
}
#Contact_Info{
    display: flex;
    padding-top: 41px;
    padding-left: 72px;
}
#cuadros{
    display: flex;
    margin: 11px 0px;
    background-color: #F5F3F0;
    border-radius: 4px;
    width: 381px;
    height: 78px;
}
.tres p{
    font-size: 12px;
    color: #4D4D4D;
    padding-top: 21px;
    padding-left: 22px;
    margin-bottom: 0rem;
    margin-bottom: 0px;
}
.tres h6{
    font-size: 14px;
    color: #333333;
    padding-left: 19px;
    padding-top: 3px;
    margin-top: 0;
}
.you img{
    margin: 20px 0px 10px 134px;
    max-width: 37px;
}
.give img{
    margin: 21px 0px 10px 206px;
    max-width: 37px;
}
.location img{
    margin: 21px 0px 10px 151px;
    max-width: 37px;
}
.cont p {
    font-size: 14px ;
    color: #4D4D4D;
    margin-left: 17px;
    margin-top: 10px;
}
.cont h4{
    font-size: 15px;
    color: #333333;
}
.Contact p{
font-size: 14px;
}
.Contact p b{
font-size:  15px ;
}


.img_social h4{
     font-size: 15px ;
     margin-top: 30px;
 }

.social{
    background-color: #F7F6F3;
    max-width: 169px;
    border-radius: 7px;
    gap: 18px;
    margin-left: 2px;
    margin-top: 17px;
    padding: 13px 19px 13px 12px;
}
.social {
    display: flex;
}

.social img{
    max-width: 35px;
}
.social{
    background-color: #F7F6F3;
    max-width: 169px;
    border-radius: 7px;
    gap: 18px;
    margin-left: 2px;
    margin-top: 17px;
    padding: 13px 19px 13px 12px;
}
.social {
    display: flex;
}

.social img{
    max-width: 35px;
}
#Contact_Form{
    display: flex;
    padding: 12px 0px 0px 17px;
}

#Contact_Form img{
    height: 21px;
    margin-top: 12px;
}
#Contact_Form img #mo{
    margin-left: 260px;
}
#Contact_Form img #mov{
    margin-left: 180px;
}
#Contact_Form img #movv{
    margin-left: 90px;
}
.cont{
    margin-left: 23px;
    padding: 23px;
    background-color: #F7F6F3;
    border-radius: 6px;
    padding-bottom: 43px;
}
.rectangulo_1, .rectangulo_2 div{
    display: flex;
}
.rectangulo_2{
    background-color: #F5F3F0;
    padding: 0px 0px 13px 23px;
    border: 1px solid #EBE7E0;
    border-radius: 2%;
    margin-left: 19px;
    margin-top: 23px;
    margin-right: 23px;
}

.rectangulo_1 p{
    font-size: 14px;
}
.rectangulo_1 div p{
    background-color: #F5F3F0;
    padding: 19px 0px 5px 0px;
    border-radius: 3%;
    border: 1px solid #EBE7E0;
    padding-left: 22px;
    padding-top: 17px;
    padding-right: 195px;
    margin-top: 20px;
    margin-left: 17px;
    margin-right: 18px;
}
#move{
    margin-left: 48px;
}
.rectangulo_2 h4{
    font-size: 15px;
    padding-top: 26px;
    padding-left: 2px;
}
.segunda img {
    margin-left: 186px;
}
.parte_1 img  .parte_2 img{
    margin-left: 0px;
}
.tercera img {
    margin-left: 145px ;
}
.rectangulo_3{
    background-color: #F5F3F0;
    padding: 0px 0px 83px 3px;
    border: 1px solid #EBE7E0;
    border-radius: 2%;
    margin-left: 19px;
    margin-top: 26px;
    margin-right: 23px;
    padding-top: 20px;
}
.boton{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    padding-right: 10px;

}
.boton button{
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 6px;
    margin-top: 7px;
    background-color: #5700FF;
    padding: 13px 30px 12px 30px;
}
#faqs .title{
    margin-top: 89px;
    text-align: center;
    margin-left: 0px;
}
.title h1{
    font-size: 34px;
    padding-top: 6px;
    padding-left: 16px;
}
.control{
    display: flex;
    margin-bottom: 100px;
    margin-left: 69px;
    margin-top: 50px;;
}
.FAQ_Item{
    background-color: #F7F6F3;
    width: 62%;
    padding: 30px;
    border-radius: 9px;
}

.item{
    width: 678px;
    background-color: #EEEBE5;
    display: flex;
    padding-left: 27px;
    padding-top: 28px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.item h3{
    font-size: 16px;
}
.item p{
    font-size: 14px;
    margin-bottom: 42px;
}
.img_x{
    padding:0px 18px 0px 16px
}
.img_x img{
   max-width: 32px;
}
.textosh3{
    margin: 0;
}
.textos p{
    font-size: 16px;
    font-weight: bold;
    margin-left: 29px;
}

.form0{
    background-color: #EEEBE5;
    display: flex;
    margin-bottom: 20px;
    width: 678px;
    padding-top: 20px;
    border-radius: 2px;
    margin-bottom: 20px;
}
.form0 img {
    margin-left: 103px;
}
.form1{
    width: 678px;
    background-color: #EEEBE5;
    display: flex;
    padding-left: 0px;
    padding-top: 20px;
    margin-bottom: 21px;
    border-radius: 2px;
    padding-bottom: 6px;
}
.form1 img{
     margin-left: 256px;
}
.col-md-8 img {
    max-width: 32px;
}
.contenedor_estrella{
    background-color: #F7F6F3;
    margin: 0 20px 162px 35px;
    padding: 20px;
    width: 364px;
    height: 338px;
    border-radius: 9px;
}
.contenedor_estrella h2{
    font-size: 17px;
    margin-top: 22px;
    margin-left: 12px;
}

.contenedor_estrella p{
    font-size: 14px;
    margin-left: 14px;
}
.contenedor_estrella img{
    max-width: 49px;
    margin-top: 15px;
    margin-left: 12px;
}
.boton_final button{
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    margin-top: 6px;
    background-color: #5700FF;
    padding: 13px 20px 12px 20px;
}
.boton_final {
    font-size: 12px ;
}
.form2{
    width: 678px;
    padding-bottom: 6px;
    background-color: #EEEBE5;
    display: flex;
    padding-left: 0px;
    padding-top: 22px;
    margin-bottom: 20px;
    border-radius: 2px
}
.form2 img {
    margin-left: 198px
}
.form3{
    width: 678px;
    padding-bottom: 6px;
    background-color: #EEEBE5;
    display: flex;
    padding-left: 0px;
    padding-top: 22px;
    margin-bottom: 25px;
    border-radius: 2px
}
.form3 img{
    margin-left: 114px;
}
