#Benefits{
    margin-top: 122px;
    text-align: center;
   }
   .titulo h1{
    font-size: 34px;
    padding-left: 15px;
   }
   .titulo h6{
    font-size: 13px;
    padding-left: 18px;
    letter-spacing: 0.3px;
    padding-top: 2px;
  }
  .contenedor_1{
    display: flex;
    gap: 17px;
    margin-top: 56px;
  }
  .cuadro_1{
    background-color: #F7F6F3;
    border-radius: 10px;
    padding: 40px 57px 56px 20px;
    margin-left: 71px;
  }
  
  .cuadro_1 h2{
    font-size: 17px;
    padding-right: 83px;
    letter-spacing: 0.4px;
  }
  .cuadro_1 h6{
    font-size: 14px;
    padding-top: 16px;
    padding-left: 17px;
    line-height: 20.5px;
    text-align: left;
  }
  .cuadro_2{
    background-color: #F7F6F3;
    border-radius: 10px;
    margin-right: 50px;
  }
  .cuadro_2 h2{
    font-size: 16px;
    padding-top: 40px;
    padding-right: 113px;
    letter-spacing: 0.6px;
  }
  .cuadro_2 h6{
    font-size: 14px;
    padding-top: 15px;
    line-height: 21.5px;
    text-align: left;
    padding-left: 44px;
    padding-right: 54px;
  }
  .contenedor_2{
    margin-top: 10px;
    display: flex;
    gap: 14px;
    margin-left: 69px;
    margin-right: 64px;
  }
  .user{
    background-color: #F7F6F3;
    padding-bottom: 24px;
    border-radius: 5px;
  }
  .user h2{
    font-size: 18px;
    padding-top: 38px;
    line-height: 27px;
    text-align: left;
    padding-left: 32px;
    padding-right: 17px;
  }
  .user h6{
    font-size: 14px;
    text-align: left;
    line-height: 21.5px;
    padding-left: 33px;
    padding-right: 35px;
    padding-top: 13px;
    letter-spacing: 0.2px;
  }
  