.container{
    margin-top: 100px;
}

.col-md-6 img{
    position: left;
    width: 500px;
}

.col-md-6 h4{
    background-color: white;
    padding: 10px;
}

.col-md-6 p{
    font-size: 18px;
}

.subcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #5700FF;
}